<ul class="list-inline">
    {% if site.social.twitter %}
    <li>
        <a href="https://twitter.com/{{ site.social.twitter }}">
            <i class="fa fa-twitter fa-2x"></i>
        </a>
    </li>
    {% endif %}
    
    {% if site.social.facebook %}
    <li>
        <a href="{{ site.social.facebook }}">
            <i class="fa fa-facebook-square fa-2x"></i>
        </a>
    </li>
    {% endif %}
    
    {% if site.social.linkedin %}
    <li>
        <a href="{{ site.social.linkedin }}">
            <i class="fa fa-linkedin-square fa-2x"></i>
        </a>
    </li>
    {% endif %}
    
    {% if site.social.gplus %}
    <li>
        <a href="{{ site.social.gplus }}">
            <i class="fa fa-google-plus-square fa-2x"></i>
        </a>
    </li>
    {% endif %}
    
    {% if site.social.github %}
    <li>
        <a href="{{ site.social.github }}">
            <i class="fa fa-github fa-2x"></i>
        </a>
    </li>
    {% endif %}
    
    {% if site.social.bitbucket %}
    <li>
        <a href="{{ site.social.bitbucket }}">
            <i class="fa fa-bitbucket fa-2x"></i>
        </a>
    </li>
    {% endif %}
    
    {% if site.social.youtube %}
    <li>
        <a href="{{ site.social.youtube }}">
            <i class="fa fa-youtube fa-2x"></i>
        </a>
    </li>
    {% endif %}
</ul>
